namespace: vortex
replicaCount: 1

image:
  repository: "ghcr.io/futureversecom/trn-chainsync-processor"
  pullPolicy: Always
  tag: "3f433c0"

configMap:
  name: vortex-indexer
  data:
    PROCESSOR_PROMETHEUS_PORT: "3000"
    GQL_PORT: "4350"
    ARCHIVE_URL: "http://squid-gateway-service.vortex.svc.cluster.local:8000/graphql"
    CHAIN_URL: "wss://porcini.au.rootnet.app/archive/ws"
    CHAIN_PREFIX: "193"
    START_BLOCK: "1"
    PGSSLMODE: "require"
    NODE_TLS_REJECT_UNAUTHORIZED: "0"

service:
  type: ClusterIP
  port: 4350

serviceAccount:
  create: true
  annotations: {}
  name: "vortex-indexer-sa"
  imagePullSecrets:
    - name: github-registry

ingress:
  enabled: false
  # className: "alb"
  # annotations:
  #   alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:ap-southeast-2:839526125914:certificate/3bc3f53c-4b6c-4c00-842d-75f270c377a5"
  #   alb.ingress.kubernetes.io/group.name: "au.dev.endpoints"
  #   alb.ingress.kubernetes.io/group.order: "1000"
  #   alb.ingress.kubernetes.io/ip-address-type: "ipv4"
  #   alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80, "HTTPS": 443}]'
  #   alb.ingress.kubernetes.io/load-balancer-name: "vortex-au-dev-alb-endpoints"
  #   alb.ingress.kubernetes.io/scheme: "internet-facing"
  #   alb.ingress.kubernetes.io/ssl-redirect: "443"
  #   alb.ingress.kubernetes.io/target-type: "ip"
  #   external-dns.alpha.kubernetes.io/hostname: "vortex.au.dev.rootnet.app"
  # hosts:
  #   - host: vortex.au.dev.rootnet.app
  #     paths:
  #       - path: /indexer(/|$)(.*)
  #         pathType: Prefix
  # tls: []
