namespace: vortex
replicaCount: 1

image:
  repository: "ghcr.io/futureversecom/trn-chainsync-processor"
  pullPolicy: Always
  tag: "3f433c0"

configMap:
  name: vortex-indexer
  data:
    NODE_ENV: "production"
    PROCESSOR_PROMETHEUS_PORT: "3000"
    GQL_PORT: "4350"
    ARCHIVE_URL: "https://gateway.root.au.cicd.rootnet.app/graphql"
    CHAIN_URL: "wss://root.rootnet.live/archive/ws"
    CHAIN_PREFIX: "193"
    START_BLOCK: "1"
    PGSSLMODE: "require"
    NODE_TLS_REJECT_UNAUTHORIZED: "0"

service:
  type: ClusterIP
  port: 4350

serviceAccount:
  create: true
  annotations: {}
  name: "vortex-indexer-sa"
  imagePullSecrets:
    - name: github-registry

ingress:
  enabled: true
  className: "alb"
  annotations:
    alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:ap-southeast-2:225230550164:certificate/733a9b5a-643a-4db8-88c1-784650346ff2"
    alb.ingress.kubernetes.io/group.name: "glb.root.endpoints"
    alb.ingress.kubernetes.io/group.order: "1000"
    alb.ingress.kubernetes.io/ip-address-type: "ipv4"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80, "HTTPS": 443}]'
    # alb.ingress.kubernetes.io/load-balancer-name: "vortex-au-dev-alb-endpoints"
    alb.ingress.kubernetes.io/scheme: "internet-facing"
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    alb.ingress.kubernetes.io/target-type: "ip"
    external-dns.alpha.kubernetes.io/hostname: "vortex.au.prod.rootnet.app"
  hosts:
    - host: vortex.au.prod.rootnet.app
      paths:
        - path: /
          pathType: Prefix
  tls: []
