namespace: vortex-prod
replicaCount: 1

image:
  repository: "ghcr.io/futureversecom/trn-chainsync-processor"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "3f433c0"

configMap:
  name: vortex-indexer
  data:
    PROCESSOR_PROMETHEUS_PORT: "3000"
    GQL_PORT: "4350"
    ARCHIVE_URL: "http://squid-gateway-service.vortex-prod.svc.cluster.local:8000/graphql"
    CHAIN_URL: "wss://root.rootnet.live/archive/ws"
    CHAIN_PREFIX: "193"
    START_BLOCK: "1"

service:
  type: ClusterIP
  port: 4350

ingress:
  enabled: false
