name: "Build and Push Image"
on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - "main"
    paths:
      - "src/**"

  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag after the build"
        required: false
    
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
env:
  REGISTRY: "ghcr.io"
  IMAGE_NAME: "futureversecom/trn-chainsync-processor"
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup BuildX
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ${{env.REGISTRY}}
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # https://github.com/docker/metadata-action
    - name: Docker meta
      uses: docker/metadata-action@v4
      id: meta
      with:
        images: ${{env.REGISTRY}}/${{env.IMAGE_NAME}}
        tags: |
          type=semver,pattern={{version}}
          type=ref,event=pr
          type=sha,enable=true,prefix=,suffix=,format=short
    - name: Build, tag, and push docker image to Amazon ECR
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ fromJSON(steps.meta.outputs.json).tags[0] }}
      run: |
        docker build -t $REGISTRY/$IMAGE_TAG .
        docker push $REGISTRY/$IMAGE_TAG
        echo "DOCKER_IMAGE=${{env.IMAGE_TAG}}" >> $GITHUB_ENV