name: "Build and Push Image"
on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - "main"
    paths:
      - "src/**"
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Image tag after the build"
        required: false
      token:
        type: string
        description: Deploy token, generate one with `repo` permission
        required: true
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
env:
  REGISTRY: "ghcr.io"
  IMAGE_NAME: "karishmabothara/trn-staking-chainsync-indexer"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v2

    - name: Setup BuildX
      uses: docker/setup-buildx-action@v2
      with:
        buildkitd-flags: --debug

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=sha, prefix=,format=short

    - name: Build, tag, and push docker image to GitHub Container Registry
      uses: docker/build-push-action@v4
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        provenance: false
        cache-from: type=gha
        cache-to: type=gha,mode=max
